body {
	background-color: rgba(29, 248, 182, 0.2);
}
h1,
h2,
h3 {
	color: rgb(235, 235, 50);
	font-family: "Courier New", Courier, monospace;
	border: 6px dotted rgb(180, 39, 39);
	display: inline-block;
}
p {
	background: blue;
	color: white;
	font-size: 90px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
}

#hola {
	width: 200px;
	height: 25px;
	background: rgb(26, 20, 26);
	color: #fefefe;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 10px;
	margin-top: 3px;
}
.hola1 {
	width: 200px;
	height: 25px;
	background: rgb(158, 61, 158) !important;
	color: #fefefe;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 10px;
	margin-top: 3px;
}
